<h1 class="mt-4">Client Form</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Register</li>
</ol>

<div class="container">

    <form #clientForm="ngForm" (ngSubmit)="onSubmit()" >

        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Client saved!
                </div>

                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{ error }}
                </div>
            </div>
        </div>

        <div class="row" *ngIf="client.id">
            <div class="col-md-6" >
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="client.id" name="id"  class="form-control" disabled="true" [ngModel]="client.id" name="id" >
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label>Register Date:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="client.registerDate" name="registerDate" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label>Name:*</label>
                    <input type="text" class="form-control" [(ngModel)]="client.name" name="name" >
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label>CPF:*</label>
                    <input type="text" class="form-control" [(ngModel)]="client.cpf" name="cpf" >
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-2">
                <button type="submit" class="btn btn-success"> <i class="fa fa-save" ></i> Save</button>
            </div>
        </div>
    </form>

</div>