<h1 class="mt-4">Client Form</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Register</li>
</ol>

<div class="container">

    <form action="">
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="client.id" name="id"  class="form-control" disabled="true" [ngModel]="client.id" name="id" >
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label>Register Date:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="client.RegisterDate" name="RegisterDate" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group">
                    <label>Name:*</label>
                    <input type="text" class="form-control" [(ngModel)]="client.Name" name="Name" >
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label>CPF:*</label>
                    <input type="text" class="form-control" [(ngModel)]="client.CPF" name="CPF" >
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-2">
                <button type="submit" class="btn btn-success"> <i class="fa fa-save" ></i> Save</button>
            </div>
        </div>
    </form>

</div>